---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout title="Luis Badiali | Diseño y Desarrollo Web UX/UI">
  <main>
    <SectionContainer>
      <img
        class="rounded-full size-20 mb-6 border-2 border-white"
        src="/src/images/luis-badiali.webp"
        alt="Foto de Luis Badiali"
      />
      <h1
        class="flex items-center gap-x-4 text-5xl font-bold text-neutral-800 mb-4"
      >
        Hola, soy Luis Badiali <a
          href="https://www.linkedin.com/in/badiali"
          target="_blank"
          rel="noopener"
          class="flex"><Badge>Con nuevas metas</Badge></a
        >
      </h1>
      <h2 class="text-2xl">Diseñador y Desarrollador Web UX/UI</h2>
    </SectionContainer>
  </main>
</Layout>
