---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Luis Badiali | Diseño y Desarrollo Web UX/UI">
	<main class="w-full">
		<section
			class="cover-section flex items-center justify-start relative overflow-x-hidden w-full min-h-[600px] from-secondary to-secondary"
		>
			<div class="container mx-auto lg:max-w-4xl">
				<div class="max-w-2xl">
					<figure class="flex items-center gap-4 mb-6">
						<img
							class="rounded-full size-20"
							src="/src/images/luis-badiali.webp"
							alt="Foto de Luis Badiali"
						/>
						<a
							href="https://www.linkedin.com/in/badiali"
							target="_blank"
							rel="noopener"
							class="flex"><Badge>Con nuevas metas</Badge></a
						>
					</figure>
					<h1
						class="flex flex-wrap items-center gap-x-4 text-5xl font-bold text-neutral-800 mb-4"
					>
						Hola, soy <span class="whitespace-nowrap"
							>Luis Badiali</span
						>
					</h1>
					<p class="text-2xl">
						Diseñador y Desarrollador Web UX/UI que combina arte y
						tecnología para crear experiencias digitales únicas.
					</p>
				</div>
			</div>
		</section>
		<section class="grid-bg relative w-full py-40 from-neutral-200/75">
			<div class="container mx-auto lg:max-w-4xl p-11 bg-tertiary-100 border border-b-4">
				<h2 class="text-3xl font-bold text-neutral-800 mt-0 mb-4">
					¿Quién soy?
				</h2>
				<p class="text-lg text-neutral-700">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit exercitationem perspiciatis, autem, ab suscipit, illo facere quaerat neque omnis delectus maiores voluptatum velit odio necessitatibus doloremque obcaecati itaque? Cupiditate, quasi.
				</p>
			</div>
		</section>
	</main>
</Layout>

<style>
	.cover-section::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0%;
		bottom: 10%;
		left: -25%;
		width: 150%;
		background: linear-gradient(
			83.21deg,
			var(--tw-gradient-from) 0%,
			var(--tw-gradient-to) 100%
		);
		mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
	}
	.grid-bg::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
				to right,
				var(--tw-gradient-from) 1px,
				transparent 1px
			),
			linear-gradient(
				to bottom,
				var(--tw-gradient-from) 1px,
				transparent 1px
			);
		background-size: 2rem 2rem;
		mask-image: linear-gradient(
			to bottom,
			transparent,
			10%,
			white,
			90%,
			transparent
		);
	}
</style>
