---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Luis Badiali | Design Systems & Frontend Dev">
	<main
		class="size-full flex items-center justify-center relative z-10 overflow-hidden"
	>
		<div class="flex flex-col items-center gap-8">
			<img
				class="max-md:w-[250px] w-[300px]"
				src="/assets/img/LuisBadiali.svg"
				alt="Luis Badiali | Design Systems & Frontend Dev"
			/>
			<a
				href="https://www.linkedin.com/in/badiali"
				rel="noopener noreferrer"
				title="Visita mi LinkedIn"
				class="text-white bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-4 focus:ring-primary-300 font-medium rounded-full text-sm px-5 py-2.5 text-center"
				>LinkedIn</a
			>
		</div>
		<img
			id="draggable-logo"
			class="absolute max-md:top-[20px] max-md:right-[20px] max-[1199px]:top-[30px] max-[1199px]:right-[30px] min-[1200px]:top-[100px] min-[1200px]:right-[100px] min-[1440px]:top-[130px] min-[1440px]:right-[130px] w-[150px] h-[150px] max-md:w-[100px] max-md:h-[100px] max-lg:w-[120px] max-lg:h-[120px] cursor-[url('/assets/img/badialiMouse.svg'),_auto] select-none"
			draggable="false"
			src="/assets/img/logoNodes.svg"
			alt="Luis Badiali | Design Systems & Frontend Dev"
		/>
		<video
			src="https://res.cloudinary.com/badiali/video/upload/v1771874675/gcfcciwxjkqipc68x5er.mp4"
			autoplay
			loop
			muted
			playsinline
			class="absolute w-full h-full -z-10 object-cover object-right opacity-60 blur-[80px] max-md:-top-[120px] max-md:-right-[50px] max-lg:-top-[220px] max-lg:-right-[150px]"
		></video>
	</main>
</Layout>

<script>
	const logo = document.getElementById('draggable-logo');

	if (logo) {
		let isDragging = false;
		let currentX;
		let currentY;
		let initialX;
		let initialY;
		let xOffset = 0;
		let yOffset = 0;

		logo.addEventListener('mousedown', dragStart);
		document.addEventListener('mouseup', dragEnd);
		document.addEventListener('mousemove', drag);

		logo.addEventListener('touchstart', dragStart, { passive: false });
		document.addEventListener('touchend', dragEnd);
		document.addEventListener('touchmove', drag, { passive: false });

		function dragStart(e) {
			if (e.type === 'touchstart') {
				initialX = e.touches[0].clientX - xOffset;
				initialY = e.touches[0].clientY - yOffset;
			} else {
				initialX = e.clientX - xOffset;
				initialY = e.clientY - yOffset;
			}

			if (
				e.target === logo &&
				(e.type === 'touchstart' || e.button === 0)
			) {
				isDragging = true;
				document.body.style.cursor =
					"url('/assets/img/badialiMouse.svg'), auto";
			}
		}

		function dragEnd(e) {
			initialX = currentX;
			initialY = currentY;

			isDragging = false;
			document.body.style.cursor = '';
		}

		function drag(e) {
			if (isDragging) {
				e.preventDefault();

				if (e.type === 'touchmove') {
					currentX = e.touches[0].clientX - initialX;
					currentY = e.touches[0].clientY - initialY;
				} else {
					currentX = e.clientX - initialX;
					currentY = e.clientY - initialY;
				}

				xOffset = currentX;
				yOffset = currentY;

				setTranslate(currentX, currentY, logo);
			}
		}

		function setTranslate(xPos, yPos, el) {
			el.style.transform = `translate3d(${xPos}px, ${yPos}px, 0)`;
		}
	}
</script>
