---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Luis Badiali | Design Systems & Frontend Dev">
	<main
		class="relative size-full flex items-center justify-center overflow-hidden"
	>
		<div class="relative z-10 flex flex-col items-center gap-8">
			<img
				class="max-md:w-[250px] w-[300px]"
				src="/assets/img/LuisBadiali.svg"
				alt="Luis Badiali | Design Systems & Frontend Dev"
			/>
			<a
				href="https://www.linkedin.com/in/badiali"
				rel="noopener noreferrer"
				title="Visita mi LinkedIn"
				class="text-white bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-4 focus:ring-primary-300 font-medium rounded-full text-sm px-5 py-2.5 text-center transition-background duration-300"
				>LinkedIn</a
			>
		</div>
		<img
			id="draggable-logo"
			class="absolute z-10 top-[20px] right-[20px] md:top-[30px] md:right-[30px] xl:top-[60px] xl:right-[60px] w-[150px] h-[150px] max-md:w-[100px] max-md:h-[100px] max-lg:w-[120px] max-lg:h-[120px] cursor-[url('/assets/img/badialiMouse.svg'),_auto] select-none"
			draggable="false"
			src="/assets/img/logoNodes.svg"
			alt="Luis Badiali | Design Systems & Frontend Dev"
		/>
		<div
			class="absolute inset-0 -z-1 h-full w-full pointer-events-none opacity-[0.4] blur-[0.5px]"
			style={`background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise-filter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.80' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3CfeComponentTransfer%3E%3CfeFuncR type='linear' slope='0.46'/%3E%3CfeFuncG type='linear' slope='0.46'/%3E%3CfeFuncB type='linear' slope='0.46'/%3E%3CfeFuncA type='linear' slope='0.49'/%3E%3C/feComponentTransfer%3E%3CfeComponentTransfer%3E%3CfeFuncR type='linear' slope='2.43' intercept='-0.72'/%3E%3CfeFuncG type='linear' slope='2.43' intercept='-0.72'/%3E%3CfeFuncB type='linear' slope='2.43' intercept='-0.72'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise-filter)'/%3E%3C/svg%3E");`}
		>
		</div>
		<div
			class="absolute top-[-300px] right-[100px] md:top-[-450px] md:right-[100px] lg:top-[-350px] w-[450px] h-[450px] md:w-[700px] md:h-[700px] rounded-full bg-[#2D42E1]/60 blur-[40px] md:blur-[80px] animate-float-purple mix-blend-multiply"
		>
		</div>
		<div
			class="absolute top-[0] right-[0] md:top-[0] lg:top-[100px] md:right-[-200px] w-[200px] h-[200px] md:w-[400px] md:h-[400px] rounded-full bg-[#D8FF80]/60 blur-[40px] md:blur-[80px] animate-float-green"
		>
		</div>
		<div
			class="absolute inset-0 -z-10 h-full w-full opacity-40 bg-[size:1.5rem_1.5rem] bg-[linear-gradient(to_right,var(--tw-gradient-from)_1px,transparent_1px),linear-gradient(to_bottom,var(--tw-gradient-from)_1px,transparent_1px)]"
		>
		</div>
	</main>
</Layout>

<style>
	@keyframes float-purple-md {
		0%,
		100% {
			transform: translate(0, 0) scale(1);
		}
		33% {
			transform: translate(50px, 50px) scale(1.05);
		}
		66% {
			transform: translate(-100px, -100px) scale(0.95);
		}
	}
	@keyframes float-purple {
		0%,
		100% {
			transform: translate(0, 0) scale(1);
		}
		33% {
			transform: translate(30px, 30px) scale(1.05);
		}
		66% {
			transform: translate(-50px, -30px) scale(0.95);
		}
	}
	@keyframes float-green-md {
		0%,
		100% {
			transform: translate(0, 0) scale(1);
		}
		33% {
			transform: translate(-50px, -50px) scale(1.05);
		}
		66% {
			transform: translate(-100px, -150px) scale(0.95);
		}
	}
	@keyframes float-green {
		0%,
		100% {
			transform: translate(0, 0) scale(1);
		}
		33% {
			transform: translate(-20px, -20px) scale(1.05);
		}
		66% {
			transform: translate(30px, -40px) scale(0.95);
		}
	}
	.animate-float-purple {
		animation: float-purple 15s ease-in-out infinite;
	}
	.animate-float-green {
		animation: float-green 15s ease-in-out infinite;
	}
	@media (min-width: 768px) {
		.animate-float-green-md {
			animation: float-green-md 15s ease-in-out infinite;
		}
		.animate-float-purple-md {
			animation: float-purple-md 15s ease-in-out infinite;
		}
	}
</style>

<script>
	const logo = document.getElementById('draggable-logo');

	if (logo) {
		let isDragging = false;
		let currentX;
		let currentY;
		let initialX;
		let initialY;
		let xOffset = 0;
		let yOffset = 0;

		logo.addEventListener('mousedown', dragStart);
		document.addEventListener('mouseup', dragEnd);
		document.addEventListener('mousemove', drag);

		logo.addEventListener('touchstart', dragStart, { passive: false });
		document.addEventListener('touchend', dragEnd);
		document.addEventListener('touchmove', drag, { passive: false });

		function dragStart(e) {
			if (e.type === 'touchstart') {
				initialX = e.touches[0].clientX - xOffset;
				initialY = e.touches[0].clientY - yOffset;
			} else {
				initialX = e.clientX - xOffset;
				initialY = e.clientY - yOffset;
			}

			if (
				e.target === logo &&
				(e.type === 'touchstart' || e.button === 0)
			) {
				isDragging = true;
				document.body.style.cursor =
					"url('/assets/img/badialiMouse.svg'), auto";
			}
		}

		function dragEnd(e) {
			initialX = currentX;
			initialY = currentY;

			isDragging = false;
			document.body.style.cursor = '';
		}

		function drag(e) {
			if (isDragging) {
				e.preventDefault();

				if (e.type === 'touchmove') {
					currentX = e.touches[0].clientX - initialX;
					currentY = e.touches[0].clientY - initialY;
				} else {
					currentX = e.clientX - initialX;
					currentY = e.clientY - initialY;
				}

				xOffset = currentX;
				yOffset = currentY;

				setTranslate(currentX, currentY, logo);
			}
		}

		function setTranslate(xPos, yPos, el) {
			el.style.transform = `translate3d(${xPos}px, ${yPos}px, 0)`;
		}
	}
</script>
