<div
	class="body-bg absolute inset-0 -z-10 size-full bg-[linear-gradient(to_right,_var(--tw-gradient-from)_1px,transparent_1px),linear-gradient(to_bottom,_var(--tw-gradient-from)_1px,transparent_1px)] bg-[size:2rem_2rem] from-neutral-200/75"
>
	<div
		class="absolute inset-0 bg-[radial-gradient(circle_500px_at_105%_100px,_var(--tw-gradient-stops))] from-secondary to-transparent opacity-70"
	>
	</div>
	<div
		class="absolute inset-0 bg-[radial-gradient(circle_900px_at_100%_700px,_var(--tw-gradient-stops)),url(/src/images/noise.svg)] contrast-100 brightness-200 from-primary to-transparent mix-blend-multiply opacity-80"
	>
	</div>
</div>
