<div
	class="absolute inset-0 -z-10 size-full bg-[linear-gradient(to_right,_var(--tw-gradient-from)_1px,transparent_1px),linear-gradient(to_bottom,_var(--tw-gradient-from)_1px,transparent_1px)] bg-[size:2rem_2rem] from-slate-400/25"
>
	<img
		class="absolute inset-0 z-10 size-full object-cover"
		src="https://images.unsplash.com/photo-1675657144518-025804f1812c?w=1920&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bHV4dXJ5dmlsbGF8ZW58MHx8MHx8fDA%3D"
	/>
	<div
		class="absolute inset-0 z-20 bg-[radial-gradient(circle_600px_at_100%_300px,_var(--tw-gradient-stops)),url(https://grainy-gradients.vercel.app/noise.svg)] from-indigo-600 to-transparent"
	>
	</div>
</div>
