<div
  class="body-bg absolute inset-0 -z-10 size-full bg-tertiary-100 bg-[linear-gradient(to_right,#D4D5D7_1px,transparent_1px),linear-gradient(to_bottom,#D4D5D7_1px,transparent_1px)] bg-[size:3rem_3rem]"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_600px_at_100%_300px,#D8FF80,transparent)]"
  >
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_700px_at_100%_800px,#3F54F3,transparent)]"
  >
  </div>
</div>
